<section class="main">
  <div class="container">
    <div class="main-info wow animate__backInLeft">
      <h1 class="double-title">Самая вкусная пицца в мире <span>только в Pizza Cheff</span></h1>
      <div class="main-advantages">
        <div class="advantage">
          <div class="advantage-image">
            <img src="images/hop.png" alt="Пшеница">
          </div>
          <div class="advantage-text">
            <div class="advantage-title">Лучшее тесто</div>
            <div class="advantage-description">
              Мы создаем тесто только из отборной итальянской муки наивысшего качества
            </div>
          </div>
        </div>
        <div class="advantage">
          <div class="advantage-image">
            <img src="images/kitchen-pack.png" alt="Колпак повара">
          </div>
          <div class="advantage-text">
            <div class="advantage-title">лучшие повара</div>
            <div class="advantage-description">
              Пиццы готовят самые профессиональные итальянские повара
            </div>
          </div>
        </div>
        <div class="advantage">
          <div class="advantage-image">
            <img src="images/seo-and-web.png" alt="Гарантия качества">
          </div>
          <div class="advantage-text">
            <div class="advantage-title">гарантия качества</div>
            <div class="advantage-description">
              Наша пиццерия получила множество наград и признаний по всему миру
            </div>
          </div>
        </div>
        <div class="advantage">
          <div class="advantage-image">
            <img src="images/holidays.png" alt="Поднос">
          </div>
          <div class="advantage-text">
            <div class="advantage-title">отборные рецепты</div>
            <div class="advantage-description">
              Мы используем рецепты от мировых лидеров в изготовлении пиццы
            </div>
          </div>
        </div>
      </div>
      <div class="main-action">
        <a href="#test-popup" class="btn hvr-sweep-to-right open-popup-link" (click)="scrollTo(productsElement)">Выбрать пиццу</a>
      </div>
    </div>
    <div class="main-image wow animate__backInRight">
      <img src="images/pizza_big.png" alt="Изображение пиццы">
    </div>
  </div>
</section>

<div class="parallax-window" data-parallax="scroll" data-image-src="images/pizza_walp.jpg"></div>

<section class="products" #productsElement>
  <div class="container">
    <h2 class="products-title" id="products-title">Выберите свою любимую пиццу</h2>
    <div class="products-items">
      <div class="product" *ngFor="let product of products">
        <a href="images/products/{{product.image}}" class="product-image">
          <img src="images/products/{{product.image}}" alt="{{product.title}}">
        </a>
        <div class="product-title">{{product.title}}</div>
        <div class="product-text">
          {{product.description}}
        </div>
        <div class="product-action">
          <button class="btn btn-add-to-cart" (click)="addToCart(product, orderElement)">В корзину</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="order" #orderElement>
  <div class="container">
    <div class="order-text">
      <div class="order-text-title double-title">
        <span>Хватит думать!</span> Доставим заказ за 30 минут!
      </div>
      <div class="order-text-message">
        Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже на
        1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим
        сервисом и сделаем всё, чтобы наш клиент был доволен и не остался голодный!
      </div>
    </div>
    <div class="order-form">
      <label>
        <input type="text" class="order-input" id="product-input" placeholder="Пицца" [(ngModel)]="formValues.productTitle">
      </label>
      <label>
        <input type="text" class="order-input" id="address-input" placeholder="Адрес доставки" [(ngModel)]="formValues.address">
      </label>
      <label>
        <input type="text" class="order-input" id="phone-input" placeholder="Телефон" [(ngModel)]="formValues.phone">
      </label>
      <button class="btn" (click)="createOrder()">Оформить заказ</button>
    </div>
    <div class="order-image wow animate__backInRight">
      <img src="images/pizzzzza.png" alt="Пицца">
    </div>
  </div>
</section>
